* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: orange;
  width: 100%;
  padding: .5rem 1rem 5rem;
  border-bottom: 1px solid black;

}
